.divBtns{
    width: 450px;
    display: flex;
    justify-content: space-around;
    
}

.inputSearch{
    border-radius: 15px;
    font-size: 17px;
    border: 2px solid green;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.7);
    text-align: center;
}

.btn{
    font-size: 17px;
    border-radius: 15px;
    text-decoration: none;
    cursor: pointer;
    padding: 5px 18px;
    color: black;
    border: 1px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.btn:active {
    transform: translateY(2px);

  }