.container {
    border: 2px solid rgba(255, 230, 0);
    box-shadow: 0 0 20px rgba(255, 230, 0, 0.6), 0 0 20px rgba(255, 230, 0, 0.6);
    font-family: 'Courier New', Courier, monospace;
    width: 80rem;
    margin: 100px auto;
    color: white;
    padding: 5rem;
    font-size: 30px;
    text-shadow:0 0 15px rgba(255, 230, 0, 0.9);
    backdrop-filter: blur(3px);
    transition: transform 0.3s;
  }
  
.container:hover{
    transform: scale(1.1);
}


